*grid_container_pedidos = 2 columnas */
 

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
	height: 100%;
}

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2rem;
	min-height: 100%; 
	 
}

 

.grid_container_pedidos{
  display: grid; 
  grid-template-columns: 25% 25% 25% 25%; 
  grid-template-rows: 150px 50px auto 60px; 
  gap: 0px 0px; 
  grid-template-areas: 
    "header header header header" 
    "navbar navbar navbar navbar" 
    "maina maina mainb mainb" 
    "footer footer footer footer"  ; 



}



 

 

 

.titulotrans {
font-weight:bold;
    color: #1B1464 ;
    text-shadow: 1px 1px 3px hotpink;
text-align: center;
font-size: 20px;
visibility: hidden;
}

.logoa {

 		height: 80%;

 	}



.header{
	grid-area: header;
	background-color: white;
	text-align: center;
	padding-top: 2%;
}


.navbar{
	grid-area: navbar;
	background-color: #1B1464;
}

.maina{
	grid-area: maina;
	background: linear-gradient(to top, #12CBC4, white);
text-align:  center;}



.mainb{
	grid-area: mainb;
		background: linear-gradient(to top, #12CBC4, white);
	
		padding-left: 3%;
		padding-right: 3%;
	text-align:  center;}




.mainc{
	grid-area: mainc;
		background: linear-gradient(to top, #12CBC4, white);
		text-align: center;}


.fotografía2{

    float:left;
	 
    margin-left: 10px;
    margin-top:10px;
     width:180px;
     height:180px;
     border-radius:10px;
}

#scroll{
	position:static;
	margin-top:2%;
	float:left;
	width:700px;
	height:350px;
    overflow-x: hidden;
    margin-left:10px;
    margin-right:10px;

}



.footer{
	grid-area: footer;
	background-color: #1B1464;
	text-decoration: none;
	padding: 1%;
}

#menu ul {
	text-align: center;
	margin-top: 1%;
   
}




#menu li {
	text-decoration: none;
	color: white;
	display:inline;
     padding-left:3%;
     padding-right:4%;

   
}

#menu li a {
	text-align: center;
	align-content: center;
	text-decoration: none;
	color: white;
	display:inline;
     padding-left:10px;
     padding-right:10px;
     padding-top: 10px;
     
}


.maina .fotob {

text-align: center;
margin-top: 5%;
margin-left: 9%;
border-radius: 35px;
box-shadow: 0px 0px 10px #fff;

height: 70%; width: 80%;

    transition: all 0.5s ease;}

      .fotob:hover {
       	transform:scale(0.9);
     border-radius: 0%;
       	box-shadow: 0px 0px 5px navy;
       }

.tituloa {
font-weight:bold;
    color: #1B1464 ;
    text-shadow: 1px 1px 3px hotpink;
text-align: center;
font-size: 20px;

       }
.textoh2 {
  
    text-align: center;
    color: #1B1464 ;
    text-shadow: 1px 1px 2px white;
    font-size: 18px;
    margin: 1%;
    padding-top: 15%;



}


 

.video {

border-radius: 35px;
margin-top: 5%;
box-shadow: 0px 0px 10px #fff;
width: 600px;
height: 400px; 

}


footer #nombre {float: left;
margin-left: 35%;
color: white;
text-decoration: none;}

footer #nombre  a {
text-decoration: none;
color: white;
text-shadow: 1px 1px 3px hotpink;}

#logoc {float: right;
margin-right: 2%;}

#uces {float: left;
margin-left: 2%;
margin-bottom: 2%;
}


.fototrata {text-align: center;
 	text-align: center;
       	margin-left: 5%;
       	margin: 5%;
       	border-radius: 30px;
       	box-shadow: 0px 0px 15px #fff;
        transition: all 0.5s ease;}

      .fototrata:hover {
       	transform:scale(1.1);
     
       	box-shadow: 0px 0px 5px navy;
       }



.titulob {font-weight:bold;
    color: #1B1464 ;
    text-shadow: 1px 1px 3px white;
text-align: center;
font-size: 19px;
}

.textotrata {
    color: #1B1464 ;
    text-shadow: 1px 1px 3px white;
text-align: center;
font-size: 18px;
margin: 5%;
}

 .transglow {
       	transition: all 0.3s ease;
       }

       .transglow:hover {
       	transform:scale(1.5);
       }


.textofaq {
    color: #1B1464 ;
text-align: left;
font-size: 14px;
margin: 5%;
}
   .botonturnob {
       	text-decoration: none;
       	color: white;
        color:white;
        background:hotpink;
        border:10px;
        padding: 2%;
        padding-left: 4%;
        padding-right: 4%;
        border-radius: 18px;
        box-shadow: 0px 0px 10px #fff;
        margin-bottom: 2%;
        margin-top: -1%;}


        #form input, textarea {
	width:100%;
	border: 1px solid #000;
	background-color: #FFF;
	color: navy;
	font-size: 1em;
	 box-shadow: 0px 0px 10px #fff;
	 border-radius: 5px;
	 font-family: 'Open Sans';
}

#form {
	width: 90%;

	margin-left: 25%;
	columns:2;
	width: 90%;
	background:#9999cc;
	margin-left: 5%;
	margin-bottom: 3%;
	font-size:15px;
	color: #FFF;
	padding: 5%;
	text-align: center;
	box-shadow: 0px 0px 10px #fff;
	 border-radius: 15px;
	 font-family: 'Open Sans'}

	 .fotomap {
	 	height: 50%;
	 	width: 70%;
	 	border-radius: 15px;
}


 
























/*escritorio*/
@media (min-width: 992px) and (max-width: 1199px) {

 
.grid_container_pedidos{
  display: grid; 
  grid-template-columns: 25% 25% 25% 25%; 
  grid-template-rows: 150px 50px auto 60px; 
  gap: 0px 0px; 
  grid-template-areas: 
    "header header header header" 
    "navbar navbar navbar navbar" 
    "maina maina mainb mainb" 
    "footer footer footer footer"  ; 



}




.rosa {

	height: 15%;
	width: 100%;
	color: hotpink;
	background-color: hotpink;
	text-align: center;
		border: 2px;
	border-color: black ;
}


.blanco {

	height: 15%;
	width: 100%;
	color: hotpink;
	background-color: white;
	text-align: center;
		border: 2px;
	border-color: black ;
}


.navy{

	height: 15%;
	width: 100%;
	color: hotpink;
	background-color: #1B1464;
	text-align: center;
		border: 2px;
	border-color: black ;
}

.celeste{

	height: 15%;
	width: 100%;
	color: hotpink;
	background-color: #12CBC4;
	text-align: center;
	border: 2px;
	border-color: black ;
}
.videoyt {width: 80%;
height: 70%;}


.videowire {
	width: 660px;
	height: 415px;
	margin-left: -10%;

}


.textotrata {
    color: #1B1464 ;
    text-shadow: 1px 1px 3px white;
text-align: center;
font-size: 13px;
margin: 3%;
}

.textofaq {
    color: #1B1464 ;
    text-shadow: 1px 1px 3px white;
text-align: center;
font-size: 12px;
margin: 3%;
}


#menu li a {
	text-align: center;
	align-content: center;
	text-decoration: none;
	color: white;
	display:inline;
     padding-left:10px;
     padding-right:10px;
     padding-top: 10px;
     font-size: 18px;
}

.maina .fotob {

text-align: center;
margin-top: 5%;
margin-left: 9%;
border-radius: 35px;
box-shadow: 0px 0px 10px #fff;

height: 60%; width: 90%;


}

.tituloa {
font-weight:bold;
    color: #1B1464 ;
    text-shadow: 1px 1px 3px hotpink;
text-align: center;
font-size: 18px;

       }
.textoh2 {
  
    text-align: center;
    color: #1B1464 ;
    text-shadow: 1px 1px 2px white;
    font-size: 15px;
    margin: 1%;
    padding-top: 15%;



}

.logoa {

 		height: 80%;

 	}


.video {

border-radius: 35px;
margin-top: 5%;
box-shadow: 0px 0px 10px #fff;
height: 60%;
width: 90%;

}

.fototrata {text-align: center;
 	text-align: center;
       	margin-left: 5%;
       	margin: 5%;
       	border-radius: 30px;
       	box-shadow: 0px 0px 15px #fff;
        	width:90%;
}


.fotografía2{

    float:left;
	 
    margin-left: 10px;
    margin-top:10px;
     width:180px;
     height:180px;
     border-radius:10px;
}

#scroll{
	position:static;
	margin-top:2%;
	float:left;
	width:540px;
	height:560px;
    overflow-x: hidden;
    margin-left:10px;
    margin-right:10px;

}




}



 

/*tablet*/
@media (min-width: 768px) and (max-width: 991px)  {

 


.grid_container_pedidos{
grid-template:
"header 	header" 	100px 
		"navbar 	navbar" 	40px
		"maina 	mainb " 		auto
"footer 	footer" 	50px /
		 50% 		50%;
	;
}



.videowire {
	width: 660px;
	height: 415px;
	margin-left: -108%;
}


 	.maina { background: none; 
 		background-color: white;}
 	.mainb { background: none; 
 		background-color: white;}

 			.logoa {

 		height: 95%;

 	}

.fotografía2{

    float:left;
	 
    margin-left: 10px;
    margin-top:10px;
     width:180px;
     height:180px;
     border-radius:10px;
}

#scroll{
	position:static;
	margin-top:2%;
	float:left;
	width:400px;
	height:560px;
    overflow-x: hidden;
    margin-left:10px;
    margin-right:10px;

}





}






/*mobile*/
@media (min-width: 576px) and (max-width: 767px) 

{



.grid_container_pedidos{
	grid-template:
"header " 	100px 
		"navbar " 	80px
		"maina  " 		auto
			"mainb  " 		auto

"footer 	" 	50px /
			auto;			
	;
}

 



article {background: linear-gradient(to top, #12CBC4, white );}

.maina  {background: none;
	text-align: center;
	padding-bottom: -25%;
}

.mainb  {background: linear-gradient(to top, #12CBC4, white 95%);
padding-top: -5%; margin-top: -3%;}



 	
.videowire {
	width: 460px;
	height: 315px;}

 	.logoa {

 		height: 80%;

 	}

#menu ul {
	text-align: center;
	
   
}




#menu li {
	text-decoration: none;
	color: white;
  

   
}

#menu li a {
	 display: block;
margin-top: -5%;
padding-top: -6%;
	text-decoration: none;
	color: white;
	font-size: 12px;
   
  
     
}


.video {

border-radius: 35px;
height: 700px;
width: 460px;
box-shadow: 0px 0px 10px #fff;


}

.maina .fotob {

text-align: center;
border-radius: 35px;
box-shadow: 0px 0px 10px #fff;
height: 70%; 
width: 50%;
margin: 5%;


}

.textoh2 {margin: -1%;
margin-top: -13%;}

footer #nombre {float: left;
margin-left: 25%;
color: white;
text-decoration: none;}

footer #nombre  a {
text-decoration: none;
color: white;
text-shadow: 1px 1px 3px hotpink;}

#logoc {float: right;
margin-right: 2%;}

#uces {float: left;
margin-left: 2%;
margin-bottom: 2%;
}

 .botonturnob {
       	text-decoration: none;
       	color: white;
        color:white;
        background:hotpink;
        border:10px;
        padding: 2%;
        padding-left: 4%;
        padding-right: 4%;
        border-radius: 18px;
        box-shadow: 0px 0px 10px #fff;
        margin-bottom: 6%;
        margin-top: -5%;}










.fotografía2{

    float:left;
	 
    margin-left: 10px;
    margin-top:10px;
     width:180px;
     height:180px;
     border-radius:10px;
}

#scroll{
	position:static;
	margin-top:2%;
	float:left;
	width:98%;
	height:560px;
    overflow-x: hidden;
    margin-left:10px;
    margin-right:10px;

}




}






